PORT=3000

NODE_ENV=development

DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=

JWT_SECRET=
JWT_EXPIRES_IN=

COOKIE_NAME=

OTP_EXPIRES_IN_MINUTES=
OTP_MAX_ATTEMPTS=
OTP_RESEND_COOLDOWN_SECONDS=